:root {
  --primery-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196F3;
  --accent-color-hover: #188CE8;
  --light-color: #FFFFFF;
  --backgound-gray-color: #F5F4FA;
  --link-client-color: #AFB1B8;
  --image-border: 1px solid #EEEEEE;
  --primery-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --normal-font: 400;
  --medium-font: 500;
  --bolt-font: 700;
  --bolder-font: 900;
  --primary-font-size: 14px;
  --secondary-font-size: 16px;
  --transition-dur-and-fun: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-dur-and-fun-bacol: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-dur-and-fun-portfol: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  background-color: var(--light-color);
  font-size: var(--primary-font-size);
  color: var(--primery-color);
  font-family: var(--primery-font);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  text-align: center;
  font-family: inherit;
  border-radius: 4px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.containbtn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  color: var(--light-color);
  background-color: var(--accent-color);
  font-weight: var(--bolt-font);
  font-size: var(--secondary-font-size);
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: var(--transition-dur-and-fun-bacol);
}

.menu-link.current {
  color: var(--accent-color);
}

.containbtn:hover,
.containbtn:focus {
  background-color: var(--accent-color-hover);
}

.button {
  border: 1px solid transparent;
  transition: var(--transition-dur-and-fun), var(--transition-dur-and-fun-bacol), box-shadow var(--transition-dur-and-fun-portfol);
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter .filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  padding: 6px 22px;
  color: var(--primery-color);
  background-color: var(--backgound-gray-color);
  font-family: var(--primery-font);
  font-weight: var(--medium-font);
  font-size: var(--secondary-font-size);
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--light-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.contact-icon {
  fill: currentColor;
  margin-right: 10px;
}

.contact-icon:hover,
.contact-icon:focus {
  fill: currentColor;
}

.connection .connection-link + .connection-link {
  margin-left: 50px;
}

.contact-us {
  display: flex;
  align-items: center;
  color: var(--secondary-color);
  font-weight: var(--medium-font);
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: var(--transition-dur-and-fun);
}

.contact-us:hover,
.contact-us:focus {
  color: var(--accent-color);
}

.contacts {
  display: inline-block;
}

.contacts-footer {
  display: block;
  margin-top: 0;
}

.no-markers .contacts-footer:not(:last-child) {
  margin-bottom: 9px;
}

.contact-group {
  flex-grow: 1;
}

.mail-tel {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: var(--normal-font);
  font-size: var(--primary-font-size);
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: var(--transition-dur-and-fun);
}

.mail-tel:hover,
.mail-tel:focus {
  color: var(--accent-color);
}

.logo {
  color: var(--primery-color);
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: var(--bolt-font);
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03;
  margin-right: 93px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--light-color);
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03;
}

.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.client {
  width: 170px;
  height: 92px;
}

.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--link-client-color);
  width: 100%;
  height: 100%;
  border: 1px solid currentColor;
  border-radius: 4px;
  transition: var(--transition-dur-and-fun);
}

.client-link:hover,
.client-link:focus {
  color: var(--accent-color);
  border-color: currentColor;
}

.client:not(:last-child) {
  margin-right: 30px;
}

.client-icon {
  fill: currentColor;
}

.gray-background {
  background-color: var(--backgound-gray-color);
}

.team {
  display: flex;
}

.team-item {
  width: 270px;
  text-align: center;
  background-color: var(--light-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team .team-item:not(:last-child) {
  margin-right: 30px;
}

.employee-photo {
  margin-top: 0;
  margin-bottom: 0;
}

.card-information {
  padding-top: 30px;
  padding-bottom: 30px;
}

.person {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: var(--medium-font);
  font-size: var(--secondary-font-size);
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.profession {
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--secondary-color);
  font-weight: var(--normal-font);
  font-size: var(--secondary-font-size);
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.social-links-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.card-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.personal-social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--link-client-color);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: var(--transition-dur-and-fun), var(--transition-dur-and-fun-bacol);
}

.personal-social-links:hover,
.personal-social-links:focus {
  color: var(--light-color);
  background-color: var(--accent-color);
  border-radius: 50%;
}

.personal-social-link-icon {
  fill: currentColor;
}/*# sourceMappingURL=maim.css.map */