/* ------------- ==================-------------------- */

.content {
	border-bottom: 1px solid #ECECEC;
}

.nav {
	display: flex;
	align-items: center;
}

.main__nav {
	display: flex;
	align-items: center;
}

.nav__logo {
	margin-right: 93px;
}

.nav__logo {

	color: var(--primery-color);
	font-family: var(--secondary-font);
	font-size: 26px;
	font-weight: var(--bolt-font);
	line-height: 1.19;
	text-decoration: none;
	letter-spacing: 0.03;
}

.accent {
	color: var(--accent-color);
}

.nav__list {
	display: flex;
}

.nav__list .nav__item:not(:last-child) {
	margin-right: 50px;
}

.menu-item {
	position: relative;
}



.nav__link {
	display: block;
	position: relative;
	color: var(--primery-color);
	font-weight: var(--medium-font);
	text-decoration: none;
	line-height: 1.14;
	letter-spacing: 0.02em;
	padding-bottom: 32px;
	padding-top: 32px;
	bottom: -1px;
	transition: var(--transition-dur-and-fun);
}

.nav__link.nav__link--current {
	color: var(--accent-color);
}

.nav__link--current::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	display: block;
	width: 100%;
	height: 4px;
	border-radius: 2px;
	background-color: var(--accent-color);
}

.nav__link:hover,
.nav__link:focus {
	color: var(--accent-color);
}

.connection {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.connection__link {
	display: flex;
	align-items: center;
	color: var(--secondary-color);
	font-weight: var(--medium-font);
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;
	transition: var(--transition-dur-and-fun);
}

.connection__link:hover,
.connection__link:focus {
	color: var(--accent-color);
}

.contact__icon {
	fill: currentColor;
	margin-right: 10px;
}

.contact__icon:hover,
.contact__icon:focus {
	fill: currentColor;
}

.connection__item:last-child {
	margin-left: 50px;
}

/* ===================/// heder===================== */

.overlay {
	max-width: 1600px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	background-color: #2F303A;
	text-align: center;
	padding-top: 200px;
	padding-bottom: 200px;
	background-image: linear-gradient(to right,
			rgba(47, 48, 58, 0.4),
			rgba(47, 48, 58, 0.4)),
		url(../images/hero/hover.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
}

.overlay__title {
	width: 696px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 30px;
	color: var(--light-color);
	font-weight: var(--bolder-font);
	font-size: 44px;
	font-family: var(--primery-font);
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}

.button {
	font-family: inherit;
	border: 1px solid transparent;
	transition: var(--transition-dur-and-fun), var(--transition-dur-and-fun-bacol), box-shadow var(--transition-dur-and-fun-portfol);
}

.overlay__button {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	padding: 10px 32px;
	margin-left: auto;
	margin-right: auto;
	min-width: 200px;
	color: var(--light-color);
	background-color: var(--accent-color);
	font-weight: var(--bolt-font);
	font-size: var(--secondary-font-size);
	line-height: 1.88;
	letter-spacing: 0.06em;
	cursor: pointer;
	text-align: center;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	transition: var(--transition-dur-and-fun-bacol);
}

.overlay__button:hover,
.overlay__button:focus {
	background-color: var(--accent-color-hover);
}

/* ---------------/overl------------------------ */
/*------------------------benefits_---------------- */


.benefits__list {
	display: flex;
}

.benefits__item:not(:last-child) {
	margin-right: 30px;
}

.benefits__icon-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 270px;
	height: 120px;
	background-color: var(--backgound-gray-color);
	margin-bottom: 30px;
	border-radius: 4px;
}

.benefits__achivements {
	margin-top: 0;
	margin-bottom: 10px;
	font-weight: var(--bolt-font);
	font-size: var(--primary-font-size);
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.benefits__description {
	margin-top: 0;
	margin-bottom: 0;
	color: var(--secondary-color);
	font-weight: var(--normal-font);
	font-size: var(--primary-font-size);
	line-height: 1.71;
	letter-spacing: 0.03em;
}

/*------------------------benefits_---------------- */
/*------------------------services---------------- */
.section.services {
	padding-top: 0;
}

.services__title {
	margin-top: 0;
	margin-bottom: 50px;
	font-weight: var(--bolt-font);
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
}

.services__list {
	display: flex;
}

.services__list .services__item:not(:last-child) {
	margin-right: 30px;
}

.services__thumb {
	position: relative;
}

.services__overlay {
	position: absolute;
	transform-origin: bottom center;
	bottom: 0;
	width: 370px;
	height: 70px;
	background-color: rgba(47, 48, 58, 0.8);
}

.services__name {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 70px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	color: var(--light-color);
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

/*------------------------team---------------- */
.team__gray--background {
	background-color: var(--backgound-gray-color);
}

.team-title {
	margin-top: 0;
	margin-bottom: 50px;
	font-weight: var(--bolt-font);
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
}

.team {
	display: flex;
}

.team__item {
	width: 270px;
	text-align: center;

	background-color: var(--light-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.team .team__item:not(:last-child) {
	margin-right: 30px;
}

.team__photo {
	margin-top: 0;
	margin-bottom: 0;
}

.team__card-information {
	padding-top: 30px;
	padding-bottom: 30px;
}

.team__member {
	margin-top: 0;
	margin-bottom: 10px;
	font-weight: var(--medium-font);
	font-size: var(--secondary-font-size);
	line-height: 1.19;
	letter-spacing: 0.03em;
}

.team__profession {
	margin-top: 0;
	margin-bottom: 16px;
	color: var(--secondary-color);
	font-weight: var(--normal-font);
	font-size: var(--secondary-font-size);
	line-height: 1.19;
	letter-spacing: 0.03em;
}

.team__social--list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.team__card--item {
	width: 44px;
	height: 44px;
	border-radius: 50%;
}

.team__personal--link {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: var(--link-client-color);
	width: 100%;
	height: 100%;
	border-radius: 50%;
	transition: var(--transition-dur-and-fun), var(--transition-dur-and-fun-bacol)
}

.team__personal--link:hover,
.team__personal--link:focus {
	color: var(--light-color);
	background-color: var(--accent-color);
	border-radius: 50%;
}

.team__link-icon {
	fill: currentColor;

}

/*------------------------//team---------------- */
/*------------------------client_---------------- */

.clients__title {
	margin-top: 0;
	margin-bottom: 50px;
	font-weight: var(--bolt-font);
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
}

.clients__list {
	display: flex;
	justify-content: center;
	align-items: center;
}

.client__item {
	width: 170px;
	height: 92px;
}

.client__item:not(:last-child) {
	margin-right: 30px;
}

.client__link {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--link-client-color);
	width: 100%;
	height: 100%;
	border: 1px solid currentColor;
	border-radius: 4px;
	transition: var(--transition-dur-and-fun);
}

.client__link:hover,
.client__link:focus {
	color: var(--accent-color);
	border-color: currclient__link
}

.client__icon {
	fill: currentColor;
}


/*------------------------//client_---------------- */
/*------------------------footer---------------- */
.footer__background {
	background-color: #2F303A;
	padding-top: 60px;
	padding-bottom: 60px;
}

.footer {
	display: flex;
	align-items: baseline;
}

.contacts__group {
	flex-grow: calc(1);
}

.footer__logo {
	display: inline-block;
	margin-bottom: 20px;
	color: var(--light-color);
	font-family: var(--secondary-font);
	font-size: 26px;
	font-weight: 700;
	line-height: 1.19;
	text-decoration: none;
	letter-spacing: 0.03;
}

.contacts {
	display: inline-block;
}

.contacts .contacts__item:not(:last-child) {
	margin-bottom: 9px;
}

.contacts__item {
	display: block;
	margin-top: 0;
}

.contacts__location {
	color: var(--light-color);
	font-style: normal;
	font-weight: var(--normal-font);
	font-size: var(--primary-font-size);
	line-height: 1.71;
	letter-spacing: 0.03em;
	text-decoration: none;
	transition: var(--transition-dur-and-fun);
}

.contacts__location:hover,
.contacts__location:focus {
	color: var(--accent-color)
}

.contacts__mail-tel {
	color: rgba(255, 255, 255, 0.6);
	font-style: normal;
	font-weight: var(--normal-font);
	font-size: var(--primary-font-size);
	line-height: 1.71;
	letter-spacing: 0.03em;
	text-decoration: none;
	transition: var(--transition-dur-and-fun);
}

.contacts__mail-tel:hover,
.contacts__mail-tel:focus {
	color: var(--accent-color)
}


.join {
	margin-left: 70px;
}

.join__text-title {
	font-family: var(--primery-font);
	font-weight: var(--bolt-font);
	font-size: var(--primary-font-size);
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #FFFFFF;

	margin-top: 0;
	margin-bottom: 20px;
}

.links-list {
	display: flex;
	gap: 10px;
}

.links-list__item {
	width: 44px;
	height: 44px;
}

.links-list__link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: var(--light-color);
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 50%;
	transition: var(--transition-dur-and-fun-bacol);
}

.links-list__link:hover,
.links-list__link:focus {
	background-color: var(--accent-color)
}

.links-list__icon {
	fill: currentColor
}

.footer-form {
	margin-left: 93px;
}

.footer-text-title {
	font-family: var(--primery-font);
	font-weight: var(--bolt-font);
	font-size: var(--primary-font-size);
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--light-color);
	margin-top: 0;
	margin-bottom: 20px;
}

.footer-form__input-email {
	width: 358px;
	padding: 15px 16px;
	background: transparent;
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	color: var(--light-color);
}

.footer-form_button--contained {
	display: inline-flex;
	align-items: center;
}

.button--contained {
	border-radius: 4px;
	padding: 10px 32px;
	margin-left: auto;
	margin-right: auto;
	min-width: 200px;
	color: var(--light-color);
	background-color: var(--accent-color);
	font-weight: var(--bolt-font);
	font-size: var(--secondary-font-size);
	line-height: 1.88;
	letter-spacing: 0.06em;
	cursor: pointer;
	text-align: center;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button--contained:hover,
.button--contained:focus {
	background-color: var(--accent-color-hover);
}

.button__icon {
	margin-left: 10px;
	fill: var(--light-color);
}

/*------------------------//footer---------------- */
/*------------------------modal win---------------- */
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	opacity: 1;
	transition: opacity var(--transition-dur-and-fun-portfol), visibility var(--transition-dur-and-fun-portfol);
}

.backdrop.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) scale(1.1);
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 528px;
	border-radius: 4px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	background: var(--light-color);
	transform: translate(-50%, -50%);
	transition: transform var(--transition-dur-and-fun-portfol);
}

.close {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 30px;
	height: 30px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	background-color: var(--light-color);
	cursor: pointer;
}

.close__cross-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	fill: rgba(0, 0, 0, 1);
	transition: fill var(--transition-dur-and-fun-portfol), var(--transition-dur-and-fun);
}

.close:hover .close__cross-icon,
.close:focus .close__cross-icon {
	fill: var(--accent-color);
}

/* -------------Регістрація --------------------- */
.form {
	padding: 40px;
	display: flex;
	flex-direction: column;
}

.form__text {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--primery-color);
	margin-bottom: 12px;
}

.modal_form-field {
	margin-bottom: 20px;
}

.modal_form-description {
	display: block;
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.01em;
	color: var(--secondary-color);
	margin-bottom: 4px;
}

.modal_form-wrapper {
	display: block;
	position: relative;
}

.modal_form-input {
	width: 100%;
	height: 40px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	padding: 12px;
	padding-left: 42px;
	cursor: pointer;
	transition: border-color var(--transition-dur-and-fun-portfol);
}

.modal_form-input:focus {
	outline: none;
	border-color: var(--accent-color);
}

.modal_input-icon {
	position: absolute;
	top: 50%;
	left: 12px;
	fill: var(--primery-color);
	transform: translateY(-50%);
	transition: fill aar(--transition-dur-and-fun-portfol);

}

.modal_form-input:focus+.modal_input-icon {
	fill: var(--accent-color);
}

.modal_form-message {
	resize: none;
	display: block;
	width: 100%;
	height: 120px;
	padding: 12px 16px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	transition: border-color var(--transition-dur-and-fun-portfol);
}

.modal_form-message::placeholder {
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.01em;
	color: rgba(117, 117, 117, 0.5);
}

.modal_form-message:focus {
	outline: none;
	border-color: var(--accent-color);
}

.modal_form-link {
	line-height: 1.71;
	letter-spacing: 0.03em;
	text-decoration-line: underline;
	color: var(--accent-color);
}

.modal_description {
	justify-content: center;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--secondary-color);
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}

.modal_description::before {
	content: '';
	display: block;
	width: 16px;
	height: 15px;
	border: 2px solid var(--primery-color);
	border-radius: 2px;
	transition: border-color var(--transition-dur-and-fun-portfol), var(--transition-dur-and-fun-bacol);
	margin-right: 8px;
}

.modal_check-policy:checked+.modal_description::before {
	background-color: var(--accent-color);
	border-color: var(--accent-color);
	background-image: url(../images/iconcheck.svg);
	background-position: center;
	background-size: 16px 15px;
}

.modal_check-policy:focus+.modal_description::before {
	outline: 1px solid var(--accent-color);
}

.modal_form-submit {
	align-self: center;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	padding: 10px 56px;
	color: var(--light-color);
	background-color: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: none;
}

.modal_form-submit:focus,
.modal_form-submit:hover {
	background-color: var(--accent-color-hover);
}

/* ------------- /Регістрація --------------------- */

/* -----------nav portf------------------------- */
.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

/*====================кнопки-фильтры====================*/

.filter__list {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.filter__list .filter__item:not(:last-child) {
	margin-right: 8px;
}

.filter__button {
	padding: 6px 22px;
	border-radius: 4px;

	color: var(--primery-color);
	background-color: var(--backgound-gray-color);
	font-family: var(--primery-font);
	font-weight: var(--medium-font);
	font-size: var(--secondary-font-size);
	line-height: 1.62;
	text-align: center;
	letter-spacing: 0.03em;
	cursor: pointer;
}

.filter__button:hover,
.filter__button:focus {
	color: var(--light-color);
	background-color: var(--accent-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*====================/кнопки-фильтры====================*/

/* -----------nav portf------------------------- */



/* ---- ------- Telegram   ------- ---- */
.footer-form-input {
	margin-left: 93px;
}

.input-email {
	width: 358px;

	padding: 15px 16px;
	background: transparent;
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;

	color: var(--light-color);
}

.join-text {
	font-family: var(--primery-font);
	font-weight: var(--bolt-font);
	font-size: var(--primary-font-size);
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #ffffff;

	margin-top: 0;
	margin-bottom: 20px;
}

.subscribe {
	display: inline-flex;
	align-items: center;

	margin-left: 12px;
	padding: 10px 28px;
}

.subscribe-send-icon {
	margin-left: 10px;

	fill: var(--light-color);
}

.subscribe-send-icon {
	margin-left: 10px;

	fill: var(--light-color);
}

/* ---- ------- /Telegram   ------- ---- */

.card {
	display: flex;
	flex-wrap: wrap;
	margin-top: -30px;
	margin-left: -30px;
}

.card>.card__item {
	flex-basis: calc(100% / 3 - 30px);
	margin-left: 30px;
	margin-top: 30px;
}

.card__link {
	display: block;
	text-decoration: none;
	color: var(--primery-color);
	transition: box-shadow var(--transition-dur-and-fun-portfol);
}

.card__link:hover,
.card__link:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__link:hover .card__overlay,
.card__link:focus .card__overlay {
	transform: translate(0, 0);
	transform: var(--transition-dur-and-fun-bacol);
}

.card__container {
	position: relative;
	overflow: hidden;
}

.card__image {
	margin-top: 0;
	margin-bottom: 0px;
}

.card__overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(33, 150, 243, .9);
	transform: translate(0, 100%);
	transition: var(--transition-dur-and-fun-portfol);

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.863);
	overflow: auto;
	font-size: 18px;
	line-height: 28px;
	letter-spacing: 0.03em;
	padding: 24px;
}

.card__text {
	position: absolute;
	width: 322px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 0;
	margin-bottom: 0;
	font-weight: var(--normal-font);
	font-size: 18px;
	line-height: 1.56;
	letter-spacing: .03em;
	color: var(--light-color);
	padding-top: 24px;

}

.card__title-project {
	margin-top: 0;
	margin-bottom: 4px;

	font-size: 18px;
	font-weight: var(--bolt-font);
	line-height: 2;
	letter-spacing: 0.06em;
}

.card__project-description {
	margin-top: 0;
	margin-bottom: 0;

	color: var(--secondary-color);
	font-weight: var(--normal-font);
	font-size: var(--secondary-font-size);
	line-height: 1.88;
	letter-spacing: 0.03em;
}

.card__content {
	padding: 20px 24px;
	border-bottom: var(--image-border);
	border-right: var(--image-border);
	border-left: var(--image-border);
}