:root {
  --primery-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196F3;
  --accent-color-hover: #188CE8;
  --light-color: #FFFFFF;
  --backgound-gray-color: #F5F4FA;
  --link-client-color: #AFB1B8;
  --image-border: 1px solid #EEEEEE;
  --primery-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --normal-font: 400;
  --medium-font: 500;
  --bolt-font: 700;
  --bolder-font: 900;
  --primary-font-size: 14px;
  --secondary-font-size: 16px;
  --transition-dur-and-fun: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-dur-and-fun-bacol: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-dur-and-fun-portfol: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


body {
  background-color: var(--light-color);
  font-size: var(--primary-font-size);
  color: var(--primery-color);
  font-family: var(--primery-font);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.no-markers {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-link.current {
  color: var(--accent-color);
}

/* ==============/Общие стили и сброс============== */



/* =====================header===================== */

.content {
  border-bottom: 1px solid #ECECEC;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-list {
  display: flex;
}

.logo {
  margin-right: 93px;
}

.menu-list .menu-item:not(:last-child) {
  margin-right: 50px;
}

.logo {

  color: var(--primery-color);
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: var(--bolt-font);
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03;
}

.accent {
  color: var(--accent-color);
}

.menu-item {
  position: relative;

}

.accent {
  color: var(--accent-color);
}

.menu-link {
  display: block;
  position: relative;
  color: var(--primery-color);
  font-weight: var(--medium-font);
  text-decoration: none;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
  padding-top: 32px;
  bottom: -1px;
  transition: var(--transition-dur-and-fun);
}



.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.connection {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact-icon {
  fill: currentColor;
  margin-right: 10px;
}

.contact-icon:hover,
.contact-icon:focus {
  fill: currentColor;
}

.connection .connection-link+.connection-link {
  margin-left: 50px;
}

.contact-us {
  display: flex;
  align-items: center;
  color: var(--secondary-color);
  font-weight: var(--medium-font);
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: var(--transition-dur-and-fun);
}

.contact-us:hover,
.contact-us:focus {
  color: var(--accent-color);
}

/* =====================/header===================== */



/* ==================hero (overlay)================= */

.main-nav {
  display: flex;
  align-items: center;
}


.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2F303A;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(../images/hero/hover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--light-color);
  font-weight: var(--bolder-font);
  font-size: 44px;
  font-family: var(--primery-font);
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  font-family: inherit;
  border: 1px solid transparent;
  transition: var(--transition-dur-and-fun), var(--transition-dur-and-fun-bacol), box-shadow var(--transition-dur-and-fun-portfol);
}

.contained {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  color: var(--light-color);
  background-color: var(--accent-color);
  font-weight: var(--bolt-font);
  font-size: var(--secondary-font-size);
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: var(--transition-dur-and-fun-bacol);
}

.contained:hover,
.contained:focus {
  background-color: var(--accent-color-hover);
}

/* ==================/hero (overlay)================= */



/* ====================benefits=======================*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.benefits-content {
  display: flex;
}

.benefits-item:not(:last-child) {
  margin-right: 30px;
}

.benefits-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--backgound-gray-color);
  margin-bottom: 30px;
  border-radius: 4px;
}

.achivements {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: var(--bolt-font);
  font-size: var(--primary-font-size);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.description {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--secondary-color);
  font-weight: var(--normal-font);
  font-size: var(--primary-font-size);
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* ====================/benefits=======================*/



/* =====================products=======================*/
.section.services {
  padding-top: 0;
}

.head-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: var(--bolt-font);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.services-content {
  display: flex;
}

.services-content .services-image:not(:last-child) {
  margin-right: 30px;
}

.services-image {
  position: relative;
}

.wor-stail {
  position: absolute;
  transform-origin: bottom center;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.web-work {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--light-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* =====================/products=======================*/



/* ========================team=========================*/
.gray-background {
  background-color: var(--backgound-gray-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team {
  display: flex;
}

.team-item {
  width: 270px;
  text-align: center;

  background-color: var(--light-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team .team-item:not(:last-child) {
  margin-right: 30px;
}

.employee-photo {
  margin-top: 0;
  margin-bottom: 0;
}

.card-information {
  padding-top: 30px;
  padding-bottom: 30px;
}

.person {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: var(--medium-font);
  font-size: var(--secondary-font-size);
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.profession {
  margin-top: 0;
  margin-bottom: 16px;

  color: var(--secondary-color);
  font-weight: var(--normal-font);
  font-size: var(--secondary-font-size);
  line-height: 1.19;
  letter-spacing: 0.03em;
}


.social-links-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.card-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.personal-social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--link-client-color);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: var(--transition-dur-and-fun), var(--transition-dur-and-fun-bacol)
}

.personal-social-links:hover,
.personal-social-links:focus {
  color: var(--light-color);
  background-color: var(--accent-color);
  border-radius: 50%;
}

.personal-social-link-icon {
  fill: currentColor;

}

/* ========================/team=========================*/



/* =======================clients=========================*/

.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;

}

.client {
  width: 170px;
  height: 92px;
}

.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--link-client-color);
  width: 100%;
  height: 100%;
  border: 1px solid currentColor;
  border-radius: 4px;
  transition: var(--transition-dur-and-fun);
}

.client-link:hover,
.client-link:focus {
  color: var(--accent-color);
  border-color: currentColor;
}

.client:not(:last-child) {
  margin-right: 30px;
}

.client-icon {
  fill: currentColor;
}

/* =======================/clients=========================*/



/* =======================footer=========================*/

.dark {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  display: flex;
  align-items: baseline;
}

.contact-group {
  flex-grow: calc(1);
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--light-color);
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03;
}

.contacts {
  display: inline-block;
}


.contacts-footer {
  display: block;
  margin-top: 0;
}

.no-markers .contacts-footer:not(:last-child) {
  margin-bottom: 9px;
}

.find-us {
  color: #FFFFFF;
  font-style: normal;
  font-weight: var(--normal-font);
  font-size: var(--primary-font-size);
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: var(--transition-dur-and-fun);
}

.mail-tel {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: var(--normal-font);
  font-size: var(--primary-font-size);
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: var(--transition-dur-and-fun);
}

.find-us:hover,
.find-us:focus {
  color: var(--accent-color)
}

.mail-tel:hover,
.mail-tel:focus {
  color: var(--accent-color)
}

.join {
  margin-left: 70px;
}

.join-text {
  font-family: var(--primery-font);
  font-weight: var(--bolt-font);
  font-size: var(--primary-font-size);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;

  margin-top: 0;
  margin-bottom: 20px;
}

.social-links {
  display: flex;
  gap: 10px;
}

.join-social-links {
  width: 44px;
  height: 44px;
}

.social-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: var(--light-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: var(--transition-dur-and-fun-bacol);
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: var(--accent-color)
}

.social-link-icon {
  fill: currentColor
}

/* =======================footer=========================*/



/*====================СТРАНИЧКА PORTFOLIO================*/

/*====================кнопки-фильтры====================*/

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter .filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  padding: 6px 22px;
  border-radius: 4px;

  color: var(--primery-color);
  background-color: var(--backgound-gray-color);
  font-family: var(--primery-font);
  font-weight: var(--medium-font);
  font-size: var(--secondary-font-size);
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--light-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*====================/кнопки-фильтры====================*/



/*========================card-set=======================*/

.project-image {
  margin-top: 0;
  margin-bottom: 0px;
}

.title-project {
  margin-top: 0;
  margin-bottom: 4px;

  font-size: 18px;
  font-weight: var(--bolt-font);
  line-height: 2.0;
  letter-spacing: 0.06em;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.card-set>.card-set-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.card-set-link {
  display: block;
  text-decoration: none;
  color: var(--primery-color);
  transition: box-shadow var(--transition-dur-and-fun-portfol);
}

.card-set-link:hover,
.card-set-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-content {
  padding: 20px 24px;
  border-bottom: var(--image-border);
  border-right: var(--image-border);
  border-left: var(--image-border);

}

.project-description {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--secondary-color);
  font-weight: var(--normal-font);
  font-size: var(--secondary-font-size);
  line-height: 1.88;
  letter-spacing: 0.03em;
}

/*========================  MODAL  WINDOW =======================*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--transition-dur-and-fun-portfol), visibility var(--transition-dur-and-fun-portfol);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background: var(--light-color);
  transform: translate(-50%, -50%);
  transition: transform var(--transition-dur-and-fun-portfol);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--light-color);
  cursor: pointer;
}

.close-modal-btn-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: rgba(0, 0, 0, 1);
  transition: fill var(--transition-dur-and-fun-portfol), var(--transition-dur-and-fun);
}

.modal-close-btn:hover .close-modal-btn-icon,
.modal-close-btn:focus .close-modal-btn-icon {
  fill: var(--accent-color);
}

/* -------------Регістрація --------------------- */

.modal-form {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.modal-form-description {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-color);
  margin-bottom: 12px;
}

.modal-form-field {
  margin-bottom: 20px;
}

.modal-form-field:last-child {
  margin-bottom: 20px;
}

.modal-form-input-description {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
  margin-bottom: 4px;
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px;
  padding-left: 42px;
  cursor: pointer;
  transition: border-color var(--transition-dur-and-fun-portfol);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: var(--primery-color);
  transform: translateY(-50%);
  transition: fill aar(--transition-dur-and-fun-portfol);

}

.modal-form-input:focus+.modal-form-input-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  resize: none;
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-dur-and-fun-portfol);
}

.modal-form-message::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-policy-link {
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.modal-form-check-policy-description {
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.modal-form-check-policy-description::before {
  content: '';
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primery-color);
  border-radius: 2px;
  transition: border-color var(--transition-dur-and-fun-portfol), var(--transition-dur-and-fun-bacol);
  margin-right: 8px;
}

.modal-form-check-policy:checked+.modal-form-check-policy-description::before {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url(../images/iconcheck.svg);
  background-position: center;
  background-size: 16px 15px;
}

.modal-form-check-policy:focus+.modal-form-check-policy-description::before {
  outline: 1px solid var(--accent-color);
}

.modal-form-submit {
  align-self: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 56px;
  color: var(--light-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.modal-form-submit:focus,
.modal-form-submit:hover {
  background-color: var(--accent-color-hover);
}

/* ------------- /Регістрація --------------------- */


/* ---- ------- Telegram   ------- ---- */
.footer-form-input {
  margin-left: 93px;
}

.input-email {
  width: 358px;

  padding: 15px 16px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  color: var(--light-color);
}

.join-text {
  font-family: var(--primery-font);
  font-weight: var(--bolt-font);
  font-size: var(--primary-font-size);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;

  margin-top: 0;
  margin-bottom: 20px;
}

.subscribe {
  display: inline-flex;
  align-items: center;

  margin-left: 12px;
  padding: 10px 28px;
}

.subscribe-send-icon {

  margin-left: 10px;

  fill: var(--light-color);
}

.subscribe-send-icon {
  margin-left: 10px;

  fill: var(--light-color);
}





/* ---- ------- /Telegram   ------- ---- */
/*==================  /MODAL  WINDOW =======================*/

/* -------------- icon-port------------------ */

.card-thumb {
  position: relative;
  overflow: hidden;
}

.overly-portf {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: var(--light-color);
  background: rgba(33, 150, 243, 0.9);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.863);
  overflow: auto;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  padding: 24px;
  transform: translate(0, 100%);
  transition: var(--transition-dur-and-fun-portfol);
}

.card-set-link:hover .overly-portf,
.card-set-link:focus .overly-portf {
  transform: translate(0, 0);
  transform: var(--transition-dur-and-fun-bacol);
}

/* ============= icon-port ====================== */