.dark {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  display: flex;
  align-items: baseline;
}



.find-us {
  color: var(--light-color);
  font-style: normal;
  font-weight: var(--normal-font);
  font-size: var(--primary-font-size);
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: var(--transition-dur-and-fun);
}

.find-us:hover,
.find-us:focus {
  color: var(--accent-color);
}

.join {
  margin-left: 70px;
}

.join-text {
  font-family: var(--primery-font);
  font-weight: var(--bolt-font);
  font-size: var(--primary-font-size);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color:var(--light-color);

  margin-top: 0;
  margin-bottom: 20px;
}

.social-links {
  display: flex;
  gap: 10px;
}

.join-social-links {
  width: 44px;
  height: 44px;
}

.social-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: var(--light-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: var(--transition-dur-and-fun-bacol);
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: var(--accent-color);
}

.social-link-icon {
  fill: currentColor;
}