.clients-list {
	display: flex;
	justify-content: center;
	align-items: center;
}

.client {
	width: 170px;
	height: 92px;
}

.client-link {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--link-client-color);
	width: 100%;
	height: 100%;
	border: 1px solid currentColor;
	border-radius: 4px;
	transition: var(--transition-dur-and-fun);
}

.client-link:hover,
.client-link:focus {
	color: var(--accent-color);
	border-color: currentColor;
}

.client:not(:last-child) {
	margin-right: 30px;
}

.client-icon {
	fill: currentColor;
}