.contact__icon {
  fill: currentColor;
  margin-right: 10px;
}

.contact__icon:hover,
.contact__icon:focus {
  fill: currentColor;
}

.connection .connection__link+.connection__link {
  margin-left: 50px;
}

.contact__us {
  display: flex;
  align-items: center;
  color: var(--secondary-color);
  font-weight: var(--medium-font);
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: var(--transition-dur-and-fun);
}

.contact__us:hover,
.contact__us:focus {
  color: var(--accent-color);
}

.contacts {
  display: inline-block;
}


.contacts-footer {
  display: block;
  margin-top: 0;
}



.contact-group {
  flex-grow: calc(1);
}
.mail-tel {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: var(--normal-font);
  font-size: var(--primary-font-size);
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: var(--transition-dur-and-fun);
}

.mail-tel:hover,
.mail-tel:focus {
  color: var(--accent-color)
}