.card-thumb {
  position: relative;
  overflow: hidden;
}

.overly-portf {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: var(--light-color);
  background: rgba(33, 150, 243, 0.9);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.863);
  overflow: auto;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  padding: 24px;
  transform: translate(0, 100%);
  transition: var(--transition-dur-and-fun-portfol);
}

.card-set-link:hover .overly-portf,
.card-set-link:focus .overly-portf {
  transform: translate(0, 0);
  transform: var(--transition-dur-and-fun-bacol);
}